body{
    background-color: whitesmoke;
    justify-content: center;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}
.blanco{
   color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}
.foto{
    width: 200px;
    border-radius: 50%;
    border-style: double;
}

.banner{
    display: flex;
    justify-content: center;
   
    margin-bottom: 20px;
    background-image: url("banner3.jpg");
}
.banner-items{
    margin: 0px 25px 0px 0px;
}
.cuadro{
    margin: 0px auto;
    width: 900px;
    display: flex;
    justify-content: center;

}
.elementos{
    background-color: rgb(206, 206, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
