body{
    background-image: url("background.png");
    justify-content: center;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 70px;
    color: mediumblue;
}
.foto{
    width: 200px;
    border-radius: 50%;
    border-style: double;
}

.banner{
    display: flex;
    justify-content: center;
   
    margin-bottom: 20px;
}
.banner-items{
    margin: 0px 25px 0px 0px;
}
.cuadro{
    margin: 0px auto;
    width: 900px;
    display: flex;
    justify-content: center;

}
